[submodule "tmux"]
	path = HOME-Darwin/.config/tmux
	url = https://github.com/khsoh/tmuxconf.git
[submodule "nvim"]
	path = HOME-Darwin/.config/nvim
	url = https://github.com/khsoh/kickstart.nvim.git
